{% extends 'layouts/base.html' %}

{% block body %}
<!-- Main Content -->
<div class="body_area">
    <div class="block-header">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                    <ul class="breadcrumb pl-0 pb-0 ">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Dashboard</li>
                    </ul>
                    <h1 class="mb-1 mt-1">Comodity Price Predict - Dashboard</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Selamat Datang ke Website Comodity Price Predict - Pasar Kramat Kota Cirebon</h2>
                        <p class="mt-3" style="margin-bottom: unset;">Komoditas tersedia : Cabai Merah Besar, Cabai
                            Merah Keriting, Cabai Rawit Hijau, Cabai Rawit Merah, Bawang Merah</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header" id="cabai-merah-besar">
                        <h2>Cabai Merah Besar</h2>
                        <ul class="header-dropdown dropdown">
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="one_month">1M</button>
                            </li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="six_months">6M</button>
                            </li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="one_year"
                                    class="active">1Y</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="ytd">YTD</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary" id="all">ALL</button></li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="apex-cabai-merah-besar"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header" id="cabai-merah-keriting">
                        <h2>Cabai Merah Keriting</h2>
                        <ul class="header-dropdown dropdown">
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="one_month">1M</button>
                            </li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="six_months">6M</button>
                            </li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="one_year"
                                    class="active">1Y</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="ytd">YTD</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary" id="all">ALL</button></li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="apex-cabai-merah-keriting"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header" id="cabai-rawit-merah">
                        <h2>Cabai Rawit Merah</h2>
                        <ul class="header-dropdown dropdown">
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="one_month">1M</button>
                            </li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="six_months">6M</button>
                            </li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="one_year"
                                    class="active">1Y</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="ytd">YTD</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary" id="all">ALL</button></li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="apex-cabai-rawit-merah"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header" id="cabai-rawit-hijau">
                        <h2>Cabai Rawit Hijau</h2>
                        <ul class="header-dropdown dropdown">
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="one_month">1M</button>
                            </li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="six_months">6M</button>
                            </li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="one_year"
                                    class="active">1Y</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="ytd">YTD</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary" id="all">ALL</button></li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="apex-cabai-rawit-hijau"></div>
                    </div>
                </div>
            </div>
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
                <div class="card">
                    <div class="header" id="bawang-merah">
                        <h2>Bawang Merah</h2>
                        <ul class="header-dropdown dropdown">
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="one_month">1M</button>
                            </li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="six_months">6M</button>
                            </li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="one_year"
                                    class="active">1Y</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary mr-1" id="ytd">YTD</button></li>
                            <li><button class="btn btn-sm btn-outline-secondary" id="all">ALL</button></li>
                        </ul>
                    </div>
                    <div class="body">
                        <div id="apex-bawang-merah"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="body">
                        <p class="copyright mb-0">Copyright 2024 © All Rights Reserved. <a
                                href="https://hafizcaniago.my.id/" target="_blank">Hafiz Caniago</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
    <script src="{{ url_for('static', filename='index.js') }}"></script>
{% endblock %}