{% extends 'layouts/base.html' %}

{% block body %}
<!-- Main Content -->
<div class="body_area">
    <div class="block-header">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                    <ul class="breadcrumb pl-0 pb-0 ">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Prediksi</li>
                    </ul>
                    <h1 class="mb-1 mt-1">Prediksi Harga Komoditas Pangan - Prediksi Harga</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row clearfix">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-8">
                <div class="card">
                    <div class="header">
                        <h2>Prediksi Harga Komoditas Pangan - Pasar Kramat Kota Cirebon</h2>
                        <p class="mt-3" style="margin-bottom: unset;">Komoditas tersedia untuk diprediksi: Cabai Merah Besar,
                            Cabai
                            Merah Keriting, Cabai Rawit Hijau, Cabai Rawit Merah, Bawang Merah</p>
                    </div>
                    <div class="body">
                        <form method="POST" id="prediction_form">
                            <div class="row clearfix">
                                <div class="col-lg-4 col-md-8">
                                    <p> <b>Nama Komoditas</b> </p>
                                    <select class="form-control show-tick" name="comodity" id="comodity">
                                        <option value="">-- Pilih --</option>
                                        <option value="bawang_merah">Bawang Merah</option>
                                        <option value="cabai_merah_besar">Cabai Merah Besar</option>
                                        <option value="cabai_merah_keriting">Cabai Merah Keriting</option>
                                        <option value="cabai_rawit_hijau">Cabai Rawit Hijau</option>
                                        <option value="cabai_rawit_merah">Cabai Rawit Merah</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 col-md-8">
                                    <p> <b>Berapa Hari di Prediksi</b> </p>
                                    <select class="form-control show-tick" name="days_prediction" id="days_prediction">
                                        <option value="">-- Pilih --</option>
                                        <option value="1">1 Day</option>
                                        <option value="3">3 Days</option>
                                    </select>
                                </div>
                                <div class="col-lg-4 col-md-8">
                                    <p> &nbsp; </p>
                                    <button type="submit"
                                        class="btn btn-raised btn-primary waves-effect">Submit</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-4">
                <div class="card">
                    <div class="header">
                        <h2>Upload Dataset</h2>
                        <p class="mt-3" style="margin-bottom: unset;">
                            Dataset yang digunakan untuk melakukan prediksi harga komoditas setidaknya memiliki 30 baris
                            data, contoh template bisa di lihat <a
                                href="{{ url_for('config.download_example_dataset') }}">disini</a>.
                        </p>
                    </div>
                    <div class="body" style="margin-top: -20px;">
                        <div class="row clearfix">
                            <form id="upload_file_form" method="POST">
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <input type="file" class="form-control" name="file" id="file" />
                                    </div>
                                    <button type="submit"
                                        class="btn btn-sm btn-raised btn-primary waves-effect">Upload</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Prediksi Harga Komoditas Pangan</h2>
                    </div>
                    <div class="body">
                        <div id="apex-chart-prediksi"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="body">
                        <p class="copyright mb-0">Copyright 2024 © All Rights Reserved. <a
                                href="https://hafizcaniago.my.id/" target="_blank">Hafiz Caniago</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}

{% block script %}
<script src="{{ url_for('static', filename='assets/plugins/bootstrap-notify/bootstrap-notify.js') }}"></script>

<script>
    $(document).ready(function () {
        let chart;

        // Base chart options
        let baseOptions = {
            chart: {
                type: 'area',
                height: 288,
                toolbar: {
                    show: false,
                },
            },
            colors: ['#59c4bc', '#f45b69'], // First color for real data, second for predictions
            dataLabels: {
                enabled: false
            },
            series: [],
            markers: {
                size: 0,
                style: 'hollow',
            },
            xaxis: {
                type: 'datetime',
                tickAmount: 6,
                labels: {
                    show: true, // Show date labels
                    datetimeFormatter: {
                        year: 'yyyy',
                        month: 'MMM \'yy',
                        day: 'dd MMM',
                        hour: 'HH:mm'
                    }
                },
                title: {
                    text: 'Date'
                }
            },
            tooltip: {
                x: {
                    format: 'dd MMM yyyy'
                }
            },
            fill: {
                type: 'gradient',
                gradient: {
                    shadeIntensity: 1,
                    opacityFrom: 0.7,
                    opacityTo: 0.9,
                    stops: [0, 100]
                }
            },
            stroke: {
                show: true,
                curve: 'smooth',
                width: 2,
            },
            grid: {
                yaxis: {
                    lines: {
                        show: false,
                    }
                },
            },
            yaxis: {
                title: {
                    text: 'Price'
                },
                labels: {
                    formatter: function (value) {
                        return value.toFixed(0); // Remove decimal places
                    }
                }
            }
        };

        // Initialize the chart with base options
        function initializeChart() {
            chart = new ApexCharts(document.querySelector("#apex-chart-prediksi"), baseOptions);
            chart.render();
        }

        initializeChart();


        // Handle form submission
        $('#prediction_form').submit(function (e) {
            e.preventDefault(); // Prevent the default form submission

            // Gather form data
            let comodity = $('#comodity').val();
            let days_prediction = $('#days_prediction').val();

            // Create the JSON request body
            let requestData = {
                comodity: comodity,
                days_prediction: parseInt(days_prediction),
                use_raw_data: false // Assuming use_raw_data is always false in this case
            };

            // Send POST request with JSON data
            $.ajax({
                type: 'POST',
                url: '/api/predict-price-comodity',
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                success: function (response) {
                    console.log('Success:', response);
                    $.notify({
                        message: 'Prediction successful! Check console for details.'
                    }, {
                        type: 'success',
                        delay: 2000, // Delay in milliseconds before the alert disappears
                        placement: {
                            from: "top",
                            align: "right"
                        },
                        animate: {
                            enter: 'animated fadeInDown',
                            exit: 'animated fadeOutUp'
                        }
                    });

                    // Extract dates and prices from response
                    let dates = response.real_data.dates;
                    let prices = response.real_data.prices;
                    let predictions = response.predictions;

                    // Convert dates to a datetime format that ApexCharts can understand
                    let realData = dates.map(function (date, index) {
                        return [new Date(date).getTime(), prices[index]];
                    });

                    // Include the last real data point in the prediction data
                    let predictionData = [];
                    if (realData.length > 0) {
                        predictionData.push(realData[realData.length - 1]); // Last real data point
                    }

                    // Append predictions to the data, starting from the last date
                    let lastDate = new Date(dates[dates.length - 1]);
                    predictions.forEach(function (prediction, index) {
                        let nextDate = new Date(lastDate);
                        nextDate.setDate(nextDate.getDate() + index + 1);
                        predictionData.push([nextDate.getTime(), prediction]);
                    });

                    // Update the chart with the separated real and prediction data
                    updateChart(realData, predictionData);
                },
                error: function (xhr, status, error) {
                    console.log('Error:', xhr.responseText);
                    let errorMessage = "Unknown error";
                    try {
                        // Attempt to parse the response as JSON
                        if (xhr.responseText && xhr.getResponseHeader('content-type').includes('application/json')) {
                            let response = JSON.parse(xhr.responseText);
                            if (response.error) {
                                errorMessage = response.error;
                            }
                        } else {
                            // Handle non-JSON response
                            console.log("Non-JSON response:", xhr.responseText);
                            errorMessage = "An unexpected error occurred. Please try again.";
                        }
                    } catch (e) {
                        console.error("Failed to parse error response:", e);
                    }
                    $.notify({
                        message: 'Error: ' + errorMessage
                    }, {
                        type: 'danger',
                        delay: 2000, // Delay in milliseconds before the alert disappears
                        placement: {
                            from: "top",
                            align: "right"
                        },
                        animate: {
                            enter: 'animated fadeInDown',
                            exit: 'animated fadeOutUp'
                        }
                    });
                }
            });
        });

        function updateChart(realData, predictionData) {
            // Update the chart with the new data
            chart.updateOptions({
                xaxis: {
                    categories: realData.map(dp => dp[0]), // Extract datetime
                },
            });

            chart.updateSeries([
                {
                    name: 'Real Price',
                    data: realData,
                    color: '#59c4bc' // Color for real data
                },
                {
                    name: 'Predicted Price',
                    data: predictionData,
                    color: '#f45b69' // Color for predicted data
                }
            ]);
        }

        // Handle file upload form submission
        $('#upload_file_form').submit(function (e) {
            e.preventDefault();
            let form_data = new FormData($('#upload_file_form')[0]);
            $.ajax({
                type: 'POST',
                url: '/upload-xlsx',
                data: form_data,
                contentType: false,
                cache: false,
                processData: false,
                success: function (data) {
                    console.log("Success:", data);
                    $.notify({
                        message: 'File uploaded successfully!'
                    }, {
                        type: 'success',
                        delay: 2000, // Delay in milliseconds before the alert disappears
                        placement: {
                            from: "top",
                            align: "right"
                        },
                        animate: {
                            enter: 'animated fadeInDown',
                            exit: 'animated fadeOutUp'
                        }
                    });
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("Error response:", jqXHR.responseText);
                    let errorMessage = "Unknown error";
                    try {
                        // Attempt to parse the response as JSON
                        if (jqXHR.responseText && jqXHR.getResponseHeader('content-type').includes('application/json')) {
                            let response = JSON.parse(jqXHR.responseText);
                            if (response.error) {
                                errorMessage = response.error;
                            }
                        } else {
                            // Handle non-JSON response
                            console.log("Non-JSON response:", jqXHR.responseText);
                            errorMessage = "An unexpected error occurred. Please try again.";
                        }
                    } catch (e) {
                        console.error("Failed to parse error response:", e);
                    }
                    $.notify({
                        message: 'Error: ' + errorMessage
                    }, {
                        type: 'danger',
                        delay: 2000, // Delay in milliseconds before the alert disappears
                        placement: {
                            from: "top",
                            align: "right"
                        },
                        animate: {
                            enter: 'animated fadeInDown',
                            exit: 'animated fadeOutUp'
                        }
                    });
                }
            });
        });
    });
</script>
{% endblock %}