{% extends 'layouts/base.html' %}

{% block body %}
<!-- Main Content -->
<div class="body_area">
    <div class="block-header">
        <div class="container">
            <div class="row clearfix">
                <div class="col-lg-6 col-md-12">
                    <ul class="breadcrumb pl-0 pb-0 ">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item active">Price Predict</li>
                    </ul>
                    <h1 class="mb-1 mt-1">Comodity Price Predict - Price Predict</h1>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row clearfix">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Predict the Comodity Price - Pasar Kramat Kota Cirebon</h2>
                        <p class="mt-3" style="margin-bottom: unset;">Comodity Available to Predict: Cabai Merah Besar, Cabai
                            Merah Keriting, Cabai Rawit Hijau, Cabai Rawit Merah, Bawang Merah</p>
                    </div>
                    <div class="body">
                        
                    </div>
                </div>
            </div>
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
                <div class="card">
                    <div class="header">
                        <h2>Comodity Price - xxxx</h2>
                    </div>
                    <div class="body">
                        <div id="apex-cabai-merah-besar"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row clearfix">
            <div class="col-md-12 col-lg-12">
                <div class="card">
                    <div class="body">
                        <p class="copyright mb-0">Copyright 2024 © All Rights Reserved. <a
                                href="https://hafizcaniago.my.id/" target="_blank">Hafiz Caniago</a></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock %}